<nav class="background navbar navbar-expand-lg navbar-light bg-light border border-success">	
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link bi bi-house-fill h2" [routerLink]="['']"> Strona Główna</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link bi bi-emoji-smile-fill h2" (click)="openDialogAboutMe()"></a>
            </li>
        </ul>
    </div>
</nav>
 
